html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

body { font-size: 16px; font-family: UbuntuRegular, Tahoma, sans-serif; line-height: 1.2; *font-size: small; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

ul, ol { margin-left: 0; }

ol { list-style-type: decimal; }

td { vertical-align: top; }

sub { font-size: 75%; line-height: 0; position: relative; bottom: -0.25em; }

sup { font-size: 75%; line-height: 0; position: relative; top: -0.5em; }

a:hover, a:active { outline: none; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

textarea { overflow: auto; vertical-align: text-top; }

input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

::-moz-selection { background: #ff5e99; color: white; text-shadow: none; }

::selection { background: #ff5e99; color: white; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #ff5e99; }

.ie7 img { -ms-interpolation-mode: bicubic; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }

.ir { text-indent: -119988px; overflow: hidden; text-align: left; direction: ltr; background-repeat: no-repeat; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

body, select, input, textarea { color: black; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #555555; }

a:hover { color: #0099ff; }

strong, th { font-weight: bold; }

/*
.recto { background-color: #dddddd;
}
*/
/*
.flipbox .box.verso { position: absolute; left: -9999px; display: none; background-color: rgba(255, 166, 0, 0.7);
}
*/
.boxbig { height: 283px; }

.boxsmall { height: 137px; }

article .introblurb { font-size: 1.5em; }

aside { font-family: UbuntuRegular, Tahoma, sans-serif; }
aside h2 { margin-bottom: 1.2em; }

#headfeatures .flipbox { margin-bottom: 1em; }

.featureboxes { margin-top: 1em; font-family: ff-meta-serif-web-pro, Palatino, Georgia, LinuxLibertineORegular, Gentium Book Basic, serif; }
.featureboxes .featurebox { display: inline-block; margin-bottom: 0.5em; background-color: #cccccc; /*
&.last { margin-right: 0;
}
*/ }
.featureboxes .featurebox h2 { font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; padding: 0.5em; }

article { font-family: ff-meta-serif-web-pro, Palatino, Georgia, LinuxLibertineORegular, Gentium Book Basic, serif; }

small { font-size: 69%; }

input:invalid, textarea:invalid { -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; -ms-border-radius: 1px; -khtml-border-radius: 1px; border-radius: 1px; -moz-box-shadow: 0 0 5px 0 red; -webkit-box-shadow: 0 0 5px 0 red; -o-box-shadow: 0 0 5px 0 red; box-shadow: 0 0 5px 0 red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

#slider { margin-bottom: 0.5em; font-family: UbuntuRegular, Tahoma, sans-serif; }

dl dt { font-weight: bold; }
dl dd { margin-bottom: 0.5em; }

a, a:focus, a:active, a:hover { text-decoration: none; }

p { margin-bottom: 1.625em; }

h1, h2, h3, h4, h5, h6 { font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; }

body { background: inherit; }

header h1.entry-title { font-size: 2em; margin-bottom: 1.2em; }

#main h1 { font-size: 2em; margin-bottom: 1.2em; }
#main h2 { font-size: 1.5em; margin-bottom: 1.1em; }
#main h3 { font-size: 1.2em; margin-bottom: 1em; }

body > #container > header { /* font-size: 0.75em; */ /* margin-top: 1em; */ /* background: url('../images/backgrounds/header-background-strip-lsecities.gif') repeat-x; */ border-top: 3px solid #ff0000; }
body > #container > header nav { color: inherit; }
body > #container > header nav ul { float: right; padding-top: 0.125em; }
body > #container > header nav ul a { color: inherit; }
body > #container > header #subsitesNavigation { height: 2.906em; font-size: 0.75em; font-weight: bold; }
body > #container > header #subsitesNavigation img#lsecitiesSmallLogo { padding: 0.125em 2em 0; margin: 0.125em auto 0; display: block; background-color: #ffffff; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -o-border-top-left-radius: 3px; -ms-border-top-left-radius: 3px; -khtml-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -o-border-top-right-radius: 3px; -ms-border-top-right-radius: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px; }
body > #container > header #subsitesNavigation ul li a { color: #ffffff; }
body > #container > header #logo.full { background: url("../images/logo_lsecities_strapline.gif") no-repeat scroll 0 0 transparent; height: 6.93333em; margin-top: 0.166667em; text-indent: -9999px; }
body > #container > header #logo.small { background: url("../images/logo_lsecities_nostrapline_small.gif") no-repeat scroll left bottom transparent; height: 6.93333em; /* kept consistent with #logo.full to allow bottom alignment */ margin-top: 0.166667em; text-indent: -9999px; }
body > #container > header #ualogo { background: url("../images/logo_urbanage_strapline.gif") no-repeat scroll 0 0 transparent; height: 6.93333em; margin-top: 0.166667em; }
body > #container > header ul { display: inline-block; list-style: none; margin: 0; padding: 0; }
body > #container > header ul li { display: inline; float: left; }
body > #container > header ul li a { padding: 0 0.6em; text-decoration: none; }

#mainmenus { opacity: 0.8; -moz-box-shadow: #888888 3px 3px 5px; -webkit-box-shadow: #888888 3px 3px 5px; -o-box-shadow: #888888 3px 3px 5px; box-shadow: #888888 3px 3px 5px; }
#mainmenus:hover { opacity: 1; }

nav#level1nav, nav#level2nav { line-height: 1.5em; font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; }

#level1nav ul li:hover:not(.current), #level1nav ul li:hover:not(.current_page_item) { border-bottom: 5px solid; }
#level1nav ul li.lsecitiesAreaAbout, #level1nav ul li.page-item-303 { border-bottom-color: #00aeef; }
#level1nav ul li.lsecitiesAreaAbout:hover:not(.current), #level1nav ul li.lsecitiesAreaAbout:hover:not(.current_page_item), #level1nav ul li.page-item-303:hover:not(.current), #level1nav ul li.page-item-303:hover:not(.current_page_item) { border-bottom-color: rgba(0, 174, 239, 0.5); }
#level1nav ul li.lsecitiesAreaResearch, #level1nav ul li.page-item-306 { border-bottom-color: #ff7700; }
#level1nav ul li.lsecitiesAreaResearch:hover:not(.current), #level1nav ul li.lsecitiesAreaResearch:hover:not(.current_page_item), #level1nav ul li.page-item-306:hover:not(.current), #level1nav ul li.page-item-306:hover:not(.current_page_item) { border-bottom-color: rgba(255, 119, 0, 0.5); }
#level1nav ul li.lsecitiesAreaPublications, #level1nav ul li.page-item-309 { border-bottom-color: #db4140; }
#level1nav ul li.lsecitiesAreaPublications:hover:not(.current), #level1nav ul li.lsecitiesAreaPublications:hover:not(.current_page_item), #level1nav ul li.page-item-309:hover:not(.current), #level1nav ul li.page-item-309:hover:not(.current_page_item) { border-bottom-color: rgba(219, 65, 64, 0.5); }
#level1nav ul li.lsecitiesAreaEvents, #level1nav ul li.page-item-311 { border-bottom-color: #363795; }
#level1nav ul li.lsecitiesAreaEvents:hover:not(.current), #level1nav ul li.lsecitiesAreaEvents:hover:not(.current_page_item), #level1nav ul li.page-item-311:hover:not(.current), #level1nav ul li.page-item-311:hover:not(.current_page_item) { border-bottom-color: rgba(54, 55, 149, 0.5); }
#level1nav ul li.lsecitiesAreaUrbanAge, #level1nav ul li.page-item-94 { border-bottom-color: #b4001d; }
#level1nav ul li.lsecitiesAreaUrbanAge:hover:not(.current), #level1nav ul li.lsecitiesAreaUrbanAge:hover:not(.current_page_item), #level1nav ul li.page-item-94:hover:not(.current), #level1nav ul li.page-item-94:hover:not(.current_page_item) { border-bottom-color: rgba(180, 0, 29, 0.5); }
#level1nav ul li.lsecitiesAreaMediaArchive, #level1nav ul li.page-item-313 { border-bottom-color: #4b8044; }
#level1nav ul li.lsecitiesAreaMediaArchive:hover:not(.current), #level1nav ul li.lsecitiesAreaMediaArchive:hover:not(.current_page_item), #level1nav ul li.page-item-313:hover:not(.current), #level1nav ul li.page-item-313:hover:not(.current_page_item) { border-bottom-color: rgba(75, 128, 68, 0.5); }

#level2nav h1 { display: inline-block; color: #ffffff; font-size: 1.2em; font-weight: normal; font-family: UbuntuBold; padding: 0 0.5em; }
#level2nav ul li.current a, #level2nav ul li.current_page_item a, #level2nav ul li.current_page_ancestor a, #level2nav ul li.current_page_parent a { border-bottom: #ffffff 5px solid; }
#level2nav ul a { color: #ffffff; display: block; margin: 0; border-bottom: 5px solid transparent; }
#level2nav ul a:hover { border-bottom: 5px solid #ffffff; }

#level2nav.section-ancestor-303 { background-color: #00aeef; }
#level2nav.section-ancestor-306 { background-color: #ff7700; }
#level2nav.section-ancestor-309 { background-color: #db4140; }
#level2nav.section-ancestor-311 { background-color: #363795; }
#level2nav.section-ancestor-94 { background-color: #b4001d; }
#level2nav.section-ancestor-313 { background-color: #4b8044; }
#level2nav ul { background-color: inherit; }

header #searchbox { float: right; }
header #searchbox form { opacity: 0.3; font-size: 0.75em; }
header #searchbox form:hover { opacity: 0.9; }

#persistentLogo { float: right; height: 31px; }

header #searchbox input#queryfield { background: url("../images/icons/search_icon.png") no-repeat scroll right center transparent; border: 1px solid #CCCCCC; height: 1.2em; margin: 10px 0; padding: 3px 0; }

header #socialbuttons { height: 30px; }
header #socialbuttons h4 { display: inline; }
header #socialbuttons ul { height: 16px; }

#conferencesmenu ul { font-family: "Anton", "BureauGrotesque-ThreeSeven"; font-size: 1.2em; text-transform: uppercase; list-style: none; padding-left: 0; }
#conferencesmenu ul li { margin-top: 0.5625em; }
#conferencesmenu ul li:first-child { margin-top: 0; }
#conferencesmenu .cityName a:hover { color: #66000d; }

#main { margin-top: 1em; margin-bottom: 2em; }

footer { font-size: 0.75em; background: none repeat scroll 0 0 #F1F1EC; border-top: 1px solid #E5E5E0; margin-top: 20px; padding: 40px; }
footer ul { list-style-type: none; }

/*/mediaquery*/
/*/mediaquery*/
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
