html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

body { font-size: 16px; font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, sans-serif; line-height: 1.5; *font-size: small; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

ul, ol { margin-left: 0; }

ol { list-style-type: decimal; }

td { vertical-align: top; }

sub { font-size: 75%; line-height: 0; position: relative; bottom: -0.25em; }

sup { font-size: 75%; line-height: 0; position: relative; top: -0.5em; }

a:hover, a:active { outline: none; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

textarea { overflow: auto; vertical-align: text-top; }

input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

::-moz-selection { background: #ff5e99; color: white; text-shadow: none; }

::selection { background: #ff5e99; color: white; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #ff5e99; }

.ie7 img { -ms-interpolation-mode: bicubic; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }

.ir { text-indent: -119988px; overflow: hidden; text-align: left; direction: ltr; background-repeat: no-repeat; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row .row { min-width: inherit; }

body, select, input, textarea { color: black; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a, a:active, a:visited { color: #990000; }

a:hover { color: #555555; }

strong, th { font-weight: bold; }

aside { font-family: ff-meta-serif-web-pro, Palatino, Georgia, LinuxLibertineORegular, Gentium Book Basic, serif; }
aside p { font-size: 0.875em; line-height: 1.5em; }

#featuresgrid { width: 100%; line-height: 1em; font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; }
#featuresgrid .featurescolumn { width: 49.5260664%; margin-right: 0.94786739%; margin-bottom: 0.94786739%; float: left; }
#featuresgrid .featurescolumn.last { margin-right: 0; }
#featuresgrid .featurebox.bigbox { width: 100%; float: left; margin-bottom: 0.9569378%; position: relative; }
#featuresgrid .featurebox.smallbox { width: 49.0430622%; float: left; margin-right: 1.9138756%; margin-bottom: 0.9569378%; position: relative; }
#featuresgrid .featurebox.smallbox.last { margin-right: 0; }
#featuresgrid .featurebox .feature_blurb { float: left; font-size: 0.8em; line-height: 1.08em; max-height: 0; overflow: hidden; padding-top: 5px; width: 100%; }
#featuresgrid .featurebox:hover .feature_title, #featuresgrid .featurebox:hover .feature_caption { display: none; }
#featuresgrid .featurebox:hover .feature_info.textonly .feature_title, #featuresgrid .featurebox:hover .feature_info.textonly .feature_caption { display: block; }
#featuresgrid .featurebox:hover .feature_blurb { max-height: 75%; }
#featuresgrid .featurebox:hover .feature_info { -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0s; -webkit-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; background-color: #000; max-height: 75%; }
#featuresgrid .featurebox:hover .feature_info.textonly { -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0s; -webkit-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; background-color: #000; max-height: inherit; }
#featuresgrid .feature_info { -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0s; -webkit-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); bottom: 0; color: #F8F8F8; cursor: pointer; line-height: 1em; padding: 10px; position: absolute; left: 0; right: 0; }
#featuresgrid .feature_info .feature_title { font-weight: bold; }
#featuresgrid .feature_info .feature_caption { font-weight: normal; }
#featuresgrid .feature_info.textonly { top: 0; background-color: #000; }
#featuresgrid .feature_info.textonly .feature_blurb { max-height: 75%; }

.featureboxes .featurebox { background-color: #000; color: #fff; margin-bottom: 0.9569378%; }
.featureboxes .featurebox h3 { padding: 0 0.3em; }
.featureboxes .featurebox a, .featureboxes .featurebox a:active, .featureboxes .featurebox a:visited, .featureboxes .featurebox a:hover { color: #fff; }

.featured-item { margin-bottom: 4em; }

article { font-family: ff-meta-serif-web-pro, Palatino, Georgia, LinuxLibertineORegular, Gentium Book Basic, serif; }

small { font-size: 69%; }

input:invalid, textarea:invalid { -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; -ms-border-radius: 1px; -khtml-border-radius: 1px; border-radius: 1px; -moz-box-shadow: 0 0 5px 0 red; -webkit-box-shadow: 0 0 5px 0 red; -o-box-shadow: 0 0 5px 0 red; box-shadow: 0 0 5px 0 red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

#slider { margin-bottom: 0.5em; font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, sans-serif; max-height: 13.18001222em; height: 13.18001222em; }

dl dt { font-weight: bold; }
dl dd { margin-bottom: 0.5em; }

a, a:focus, a:active, a:hover { text-decoration: none; }

nav a, nav a:active, nav a:visited { color: #990000; }
nav a:hover { color: #555555; }

p { margin-bottom: 1.625em; }

h1, h2, h3, h4, h5, h6 { font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; text-transform: uppercase; }

ul { list-style-type: none; }

.alignleft { float: left; }

.alignright { float: right; }

body { background: inherit; }

header h1.entry-title { font-size: 2em; margin-bottom: 1.2em; }

#main h1 { font-size: 2em; margin-bottom: 1.2em; }
#main h2 { font-size: 1.5em; margin-bottom: 1.1em; }
#main h3 { font-size: 1.2em; margin-bottom: 1em; }
#main .article-text img { max-width: 100%; }
#main article .introblurb h2 { margin-top: 0.6em; margin-bottom: 0; }
#main article .introblurb p { font-size: 1.25em; line-height: 1.25em; }
#main .wp-caption { max-width: 100% !important; }
#main .wp-caption-text { font-size: 0.875em; font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; }
#main ul.publication-side-toc li { line-height: 1.25em; margin-bottom: 0.25em; }
#main .publication-cover { -moz-box-shadow: 0.313em 0.313em 0.188em #888888; -webkit-box-shadow: 0.313em 0.313em 0.188em #888888; -o-box-shadow: 0.313em 0.313em 0.188em #888888; box-shadow: 0.313em 0.313em 0.188em #888888; }
#main .article .entry-content.article-text.sidebyside > div { -moz-column-count: 2; -webkit-column-count: 2; -o-column-count: 2; column-count: 2; }

body > #container > header { /* font-size: 0.75em; */ /* margin-top: 1em; */ /* background: url('../images/backgrounds/header-background-strip-lsecities.gif') repeat-x; */ padding-top: 0.25em; }
body > #container > header nav { color: inherit; }
body > #container > header nav ul { float: right; padding-top: 0.125em; }
body > #container > header #subsitesNavigation { height: 2.906em; font-size: 0.75em; font-weight: bold; }
body > #container > header #subsitesNavigation img#lsecitiesSmallLogo { padding: 0.125em 2em 0; margin: 0.125em auto 0; display: block; background-color: #ffffff; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -o-border-top-left-radius: 3px; -ms-border-top-left-radius: 3px; -khtml-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -o-border-top-right-radius: 3px; -ms-border-top-right-radius: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px; }
body > #container > header #subsitesNavigation ul li a { color: #ffffff; }
body > #container > header #logo.full { background: url("../images/logo_lsecities_strapline.gif") no-repeat scroll 0 0 transparent; height: 5.125em; margin-top: 0.166667em; text-indent: -9999px; }
body > #container > header #logo.small { background: url("../images/logo_lsecities_nostrapline_small.gif") no-repeat scroll left bottom transparent; height: 5.125em; /* kept consistent with #logo.full to allow bottom alignment */ margin-top: 0.166667em; text-indent: -9999px; }
body > #container > header #ualogo { background: url("../images/logo_urbanage_strapline.gif") no-repeat scroll 0 0 transparent; height: 5.125em; margin-top: 0.166667em; }
body > #container > header ul { display: inline-block; list-style: none; margin: 0; padding: 0; }
body > #container > header ul li { display: inline; float: left; }
body > #container > header ul li a { padding: 0 0.6em; text-decoration: none; }

#mainmenus { opacity: 0.9; }
#mainmenus:hover { opacity: 1; }

nav#level1nav, nav#level2nav { line-height: 1.2em; font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; text-transform: uppercase; margin: 0.25em 0; }

#level1nav ul li { border-bottom: 5px solid transparent; }
#level1nav ul li a, #level1nav ul li a:active, #level1nav ul li a:visited { color: #000; }
#level1nav ul li.current, #level1nav ul li.current_page_item, #level1nav ul li.current_page_ancestor { border-bottom-color: #666; }
#level1nav ul li:hover:not(.current), #level1nav ul li:hover:not(.current_page_item) { border-bottom: 5px solid; }
#level1nav ul li:hover:not(.current), #level1nav ul li:hover:not(.current_page_item) { border-bottom-color: rgba(0, 0, 0, 0.9); }

#level2nav { padding-top: 0.5em; height: 26px; }
#level2nav h1 { display: inline-block; color: #ffffff; font-size: 1.2em; font-weight: normal; font-family: UbuntuBold; padding: 0 0.5em; }
#level2nav ul { font-weight: bold; }
#level2nav ul li.current a, #level2nav ul li.current_page_item a, #level2nav ul li.current_page_ancestor a, #level2nav ul li.current_page_parent a { border-bottom: #ffffff 5px solid; }
#level2nav ul a { color: #ffffff; display: block; margin: 0; border-bottom: 5px solid transparent; }
#level2nav ul a:hover { border-bottom: 5px solid #ffffff; }

#level2nav { background-color: #000; color: #fff; }
#level2nav ul { background-color: inherit; }

header #searchbox { float: right; }
header #searchbox form { opacity: 0.3; font-size: 0.75em; }
header #searchbox form:hover { opacity: 0.9; }

#persistentLogo { float: right; height: 31px; }

header #searchbox input#queryfield { background: url("../images/icons/search_icon.png") no-repeat scroll right center transparent; border: 1px solid #CCCCCC; height: 1.2em; margin-bottom: 0.25em; padding: 3px 0; }

header #socialbuttons { height: 30px; }
header #socialbuttons h4 { display: inline; }
header #socialbuttons ul { height: 16px; }

#conferencesmenu ul { font-family: "Anton", "BureauGrotesque-ThreeSeven"; font-size: 1.125em; line-height: 1.5em; text-transform: uppercase; list-style: none; padding-left: 0; }
#conferencesmenu a, #conferencesmenu a:active, #conferencesmenu a:visited { color: #555555; }
#conferencesmenu a:hover { color: #990000; }

#main { margin-top: 1em; margin-bottom: 2em; }

#level3nav { font-size: 0.925em; font-family: ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif; }
#level3nav li { line-height: 1.25em; margin-bottom: 0.25em; }
#level3nav ul.children { margin-left: 1em; }
#level3nav #organizer-logos { max-width: 67.7290%; width: 67.7290%; }

footer { font-size: 0.75em; background: none repeat scroll 0 0 #F1F1EC; border-top: 1px solid #E5E5E0; margin-top: 20px; padding: 40px; }
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 { font-weight: bold; margin-bottom: 0.5em; }
footer ul { list-style-type: none; }
footer #footerSitemap ul li > ul { margin-top: 0.5em; }
footer #footerSitemap > .row { margin-bottom: 1.5em; }
footer #footerSitemap > .row > section > ul { -moz-column-count: 2; -webkit-column-count: 2; -o-column-count: 2; column-count: 2; }
footer #footerSitemap > .row > section > ul li { line-height: 1em; margin-bottom: 0.5em; }

.entry-meta.article-abstract { font-style: italic; }

/*/mediaquery*/
/*/mediaquery*/
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }